.foreget-password {
  @apply w-2/5 2xl:w-3/12 mx-auto shadow-2xl py-6 rounded-xl pb-16 mt-10;
  .input-style {
    @apply bg-gray-300  rounded-md px-3 py-2 mt-2;
  }

  .account-control-text {
    position: relative;
    font-size: 18px;
    line-height: 1.5;
    color: #818b9c;
    padding: 20px;
    margin: 0;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 40%;
      height: 1px;
      background-color: #e4e9ee;
      top: 50%;

      transform: translateY(-50%);
    }

    &::before {
      left: -32%;
    }

    &::after {
      right: -32%;
    }
  }
}
